table{
  width: 90%;
  min-width: 600px;
  margin: auto;
/* border: 5px solid red;
border-spacing: 0.2em; */
border-collapse: collapse;
background-color: bisque;
/* empty-cells: hide; */

}
th,
td{
  border: 5px solid blue;
}

.td-width{
  width: 30%;
  min-width: 200px;
}